.sizeLogo{
    height: 100px;
}

/* MENU HEADER CSS */

li:hover{
    color: black;
}

li{
    display: inline;
    list-style-type:none;
    color: rgb(19, 193,246);
}

/* BACKGROUND COLOR */

.backgroundNavbar, .backgroundTitle, .colorAccueilButton{
    background-color: rgb(19, 193,246);
}

/* TAILLE IMAGE CAROUSEL */

.sizeImageCarousel{
    width: 860px;
    height: 360px;
}







/* TAILLE TELEPHONE */
@media (max-width: 575.98px) {

    .mtButton{
        margin-top: 10px;
    }

}

/* TAILLE IPAD */
@media (min-width: 576px) and (max-width: 767px) {
}

/* TAILLE ECRAN MOYEN */
@media (min-width: 768px) and (max-width: 991px) {
}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {
}



