.sizeLogo {
    height: 100px;
}

.sizeLogoWork {
    height: 120px;
}

/* MENU HEADER CSS */

.liHeader:hover {
    color: black;
}

.liHeader {
    display: inline;
    list-style-type: none;
    color: rgb(19, 193, 246);
}

/* BACKGROUND COLOR */

.backgroundNavbar, .backgroundTitle, .colorAccueilButton, .backgroundServices, .services, .backgroundFooter {
    background-color: rgb(19, 193, 246);
}

/* TAILLE IMAGE CAROUSEL */

.sizeImageCarousel {
    width: 860px;
    height: 360px;
}

/* LI ACCUEIL */

.liContent {
    list-style-type: none;
}


/* RESPONSIVE GOOGLE MAP */

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* TAILLE IMAGE DEVIS FOOTER */

.sizeDevisFooter {
    height: 90px;
}











/* TAILLE TELEPHONE */

@media (max-width: 767px) {
    .mtButton, .responsiveMt {
        margin-top: 10px;
    }
    .sizeImageCarousel {
        height: 160px;
    }
    .centerFooter, .centerFooterDevis {
        display: flex;
        justify-content: center;
    }
    .borderBottomFooter {
        border-top: black 3px solid;
        border-radius: 5px;
    }
    .sizeDevisFooter {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* TAILLE ECRAN MOYEN */

@media (min-width: 768px) and (max-width: 991px) {
    .centerFooterDevis {
        display: flex;
        justify-content: end;
    }

}

/* TAILLE ECRAN GRAND */

@media (min-width: 992px) {
    .sizeAccueilButtonMarginTop {
        margin-top: 150px;
    }
    .centerFooterDevis {
        display: flex;
        justify-content: end;
    }

     /* TAILLE IMAGE REALISATIONS */

.sizeImageRealisation{
    max-height: 139px;
    min-width: 255px;
    max-width: 255px;
}

.sizeBigImageRealisation{
    max-height: 475px;
    max-width: 870px;
}
}